/* CHARACTERS PAGE */

body{
    margin: 0;
    background-color: #333333;
    font-family: Helvetica;
}

.navigation{
    background-color: rgb(204, 204, 204);
    color :black;
    background-size: 100px;
    /*display: flex;
    flex-direction: column;*/
    display: inline-flex;
    width: 100%;
}

img.logo{
    width: 200px;
    float: right;
    padding: 10px;
    margin: 0;
}

.drpbutton{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 10px;
    margin-left: 20px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 12px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.drp-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    margin-top: 10px;
    box-shadow: 3px 2px 8px 5px rgba(0,0,0,0.23);
    z-index: 1;
}

.drp-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    
    display: block;
    font-family: 'Lucida Sans';
}

.drp-content a:hover {background-color: #f1f1f1}

.dropdown:hover .drp-content{
    display: block;
}

.dropdown:hover .drpbutton{
    background-color: white;
}

.download{
    color: white; 
    font-size: 20px; 
    line-height: 18px;
    padding: 30px; 
    border: none;
    margin: 0;
    text-transform: none; 
    background-color: #FF0000; 
    position: absolute; 
    display: inline-block;
    right: 0;
}

.download:active {
    background: #ce0000; }

.selection{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    position: relative;
    
}

.selection-row{
    display: column;
    margin: auto;
    justify-content: space-evenly;
}

.btn{
    margin: 10px;
}

.char{
    height: 100px;
    width: 100px;
}

.img-desc{
    padding: 4px;
    text-align: center;
    font-size: 18px;
}



.character-showcase{
    display: flex;
    position: relative;
    background-size: cover;
    background-color: rgba(0,0,0,0.23);
    z-index: -1;
}

#show-jean, #show-barbara{
    background-image: url("Ironforge.png");
}
#show-kaeya, #show-ganyu{
    background-image: url("Krasnodar Krai.png");
}
#show-eula, #show-keqing{
    background-image: url("Yanshan.png");
}
#show-dirk, #show-noelle{
    background-image: url("Gerudo Desert.png");
}


.char-img{
    width: 800px;
    height: auto;
    background-repeat: no-repeat;
    z-index: 0;
}

.char-line{
    padding: 10px;
font-style: italic;
font-size: 25px;
position: relative;
}

.char-text{
    background-color: rgba(204,255,255,0.77);
    font-family: 'Lucida Sans';
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    flex-direction: column;
    color: black;
    padding: 300px 30px 30px 30px;
    width: 350px;
}
.char-title{
    font: bolder;
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-size: 80px;
}

.char-desc{
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    position: relative;
    
}

@media only screen and (max-width: 1000px){
    .footer{
        background-image: -moz-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        display: flex;
        text-align: center;
        color: black;
        justify-content: space-evenly;
        z-index: 1;
        position: static;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1000px){
.footer{
    background-image: -moz-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
    display: flex;
    text-align: center;
    color: black;
    justify-content: space-evenly;
    z-index: 1;
    position: static;
}

}


.footer-info{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-row{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
}

.logo2{
    width:400px
}

.copy{
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
}

.sosmed{
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.platform{
    align-content: center;
    width: 170px;
    padding: 15px;
}

.row{
    margin: auto;
}