/* ABOUT PAGE*/

body{
    margin: 0;
    background-color: #333333;
    font-family: Helvetica;
}

.navigation{
    background-color: rgb(204, 204, 204);
    color :black;
    background-size: 100px;
    /*display: flex;
    flex-direction: column;*/
    display: inline-flex;
    width: 100%; 
}

img.logo{
    width: 200px;
    float: right;
    padding: 10px;
    margin: 0;
}

.drpbutton{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 10px;
    margin-left: 20px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 12px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.drp-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    margin-top: 10px;
    box-shadow: 3px 2px 8px 5px rgba(0,0,0,0.23);
    z-index: 1;
}

.drp-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    
    display: block;
    font-family: 'Lucida Sans';
}

.drp-content a:hover {background-color: #f1f1f1}

.dropdown:hover .drp-content{
    display: block;
}

.dropdown:hover .drpbutton{
    background-color: white;
}


.download{
    color: white; 
    font-size: 20px; 
    line-height: 18px;
    padding: 30px; 
    border: none;
    margin: 0;
    text-transform: none; 
    background-color: #FF0000; 
    position: absolute; 
    display: inline-block;
    right: 0;
}

.download:active {
    background: #ce0000; }

.cetra{
    background-image: url(./fog.png);
    flex-direction: column;
    margin:0;
    font-size: 20px;
    padding-bottom: 40px;
}
.symbols{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    padding: 50px;
} 
  

.elm{
    width: 10%;
    height: 10%;
}

.desc-cetra{
    margin: 0;
text-align: center;
color: white;
}

.information{
    color: white;
    position: relative;
}

@media only screen and (max-width: 1000px){

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
}

.info-image{
    margin: auto;
    width: 90%;
    height: 900%;
}

.info-image2{
    margin: auto;
    width: 90%;
    height: 90%;
}


.info-image3{
    margin: auto;
    width: 90%;
    height: 90%;
}

.section-text{
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}

.section-title{
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    
}

.section-desc{
    padding-top: 50px;
}

.world{
    text-align: center;
    font-size: 30px;
}

.screenshot{
    padding: 40px;
}

.shot{
    margin: auto;
    width: 80%;
    height: 80%;
    padding-bottom: 20px;
}

}
@media only screen and (min-width: 1000px){


.info-section{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.info-image{
    margin: auto;
    width: 40%;
    height: 40%;
}

.info-image2{
    margin: auto;
    width: 60%;
    height: 60%;
}


.info-image3{
    margin: auto;
    width: 50%;
    height: 50%;
}

.section-text{
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
}

.section-title{
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    
}

.section-desc{
    padding-top: 50px;
}

.world{
    text-align: center;
    font-size: 30px;
}

.screenshot{
    padding: 40px;
}

.shot{
    margin: auto;
    width: 80%;
    height: 80%;
    padding-bottom: 20px;
}
}



@media only screen and (max-width: 1000px){
    .footer{
        background-image: -moz-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        display: flex;
        text-align: center;
        color: black;
        justify-content: space-evenly;
        z-index: 1;
        position: static;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1000px){
    .footer{
        background-image: -moz-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(209,211,212) 0%, rgb(165,167,168) 100%);
        display: flex;
        text-align: center;
        color: black;
        justify-content: space-evenly;
        z-index: 1;
        position: static;
    }
}


.footer-info{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-row{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
}

.logo2{
    width:300px;
}

.copy{
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
}

.sosmed{
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.platform{
    align-content: center;
    width: 150px;
    padding: 15px;
}

.row{
    margin: auto;
}